#box{
width: 100%;
height: 1415px;
}
.head{
    width: 100%;
    height: 108px;
    margin-bottom: 34px;
}

.head .hezi{
    width: 413px;
    height: 108px;
    border-bottom: 1px solid #e5e5e5;
    position: relative;
}
.head .left{
    padding-top: 30px;
    height: 78px;
    padding-left: 155px;
    width: 258px;


}
.head .right{
    padding-top: 30px;
    height: 78px;
    padding-left: 155px;
    width: 258px;


}
.head .center{
    padding-top: 30px;
    height: 78px;
    padding-left: 234px;
    width: 179px;
}
.head .h41{
    font-size: 16px;
}
.head p{
    font-size: 14px;
    color: #999999;
}
.head .left,.head .center{
    background: url(../images/360right.png) no-repeat center right;
}
.head .tubiao1{
  width: 58px;
  height: 58px;
  background: url(../images/aa.png) no-repeat;
  position: absolute;
  left: 76px;
  top: 25px;
}
.head .tubiao2{
    width: 142px;
  height: 58px;
  background: url(../images/aa.png) no-repeat  0px -75px;
  position: absolute;
  left: 65px;
  top: 25px;
}
.head .tubiao3{
    width: 58px;
    height: 58px;
    background: url(../images/aa.png) no-repeat 0px -151px;
position: absolute;
left: 75px;
top: 25px;
}
.head .bj{
    width: 100%;
    position: absolute;
    height: 7px;    
    bottom: 0px;
    background: url(../images/tabitem_bg.png);
    left: 0px;
    display: none;
}
.hezi:hover .bj{
   display: block;
}

 
/* ===================================head结束=========================================================== */






.main1{
    width: 100%;
    height: 247px;;
    margin-bottom: 33px;
}
.main1 .biaoti{
    background: url(../images/shu.png) no-repeat;
    font-size: 18px;
    color: #23ac38;
    line-height: 18px;
    text-indent: 8px;
    display: inline-block;
}
.zuixintop{
    width: 898px;
    height: 18px;
  position: relative;

  float: left;
}
.main1 .more{
    position: absolute;
    right: 0px;
    bottom: 0px;
    font-size: 12px;
    color: #999999;
}
.kuaisutop{
    width: 328px;
    height: 18px;
  position: relative;
  margin-left: 14px;
  float: left;
}
.bignew{
    width: 898px;
    height: 209px;
    float: left;
    margin-top: 20px;
    margin-right: 14px;
}
.main1 .new{
    width: 290px;
    height: 207px;
    border: 1px solid #e5e5e5;
    float: left;
}
.new1,.new2{
    margin-right: 11px;
}
.main1 p{
    font-size: 12px;
    color: #333333;
    text-align: center;
    line-height: 45px;

}
.main1 .aaa{
    width: 326px;
    height: 207px;
    float: left;
    margin-top: 20px;
    border: 1px solid #e9eaeb;

}
.main1 .bbb{
    width: 108px;
    height: 103px;
    border-right: 1px solid #e9eaeb;
    border-bottom: 1px solid #e9eaeb;
    float: left;
}
.main1 .icon1{
    width: 24px;
    height: 24px;
    margin-top: 14px;
    margin-left: 42px;
    background: url(../images/downlown.png) no-repeat 0 0;
}
.main1 .icon2{
    width: 24px;
    height: 24px;
    margin-top: 14px;
    margin-left: 42px;
    background: url(../images/downlown.png) no-repeat 0 -24px;
}
.main1 .icon3{
    width: 24px;
    height: 24px;
    margin-top: 14px;
    margin-left: 42px;
    background: url(../images/downlown.png) no-repeat 0 -48px;
}
.main1 .icon4{
    width: 24px;
    height: 24px;
    margin-top: 14px;
    margin-left: 42px;
    background: url(../images/downlown.png) no-repeat 0 -72px;
}
.main1 .icon5{
    width: 24px;
    height: 24px;
    margin-top: 14px;
    margin-left: 42px;
    background: url(../images/downlown.png) no-repeat 0 -96px;
}
.main1 .icon6{
    width: 24px;
    height: 24px;
    margin-top: 14px;
    margin-left: 42px;
    background: url(../images/downlown.png) no-repeat 0 -120px;
}

.main1 .bbb h5{
    font-size: 14px;
text-align: center;
margin-top: 10px;
}
.main1 .dowlo{
    width: 40px;
    height: 17px;
    border: 1px solid #e5e5e5;
    font-size: 12px;
    margin: auto;
    text-align: center;
    margin-top: 6px;
    cursor:pointer;
}











.main2{
    width: 100%;
    height: 180px;

    margin-bottom: 39px;
}

.main2 .biaoti{
    background: url(../images/shu.png) no-repeat;
    font-size: 18px;
    color: #23ac38;
    line-height: 18px;
    text-indent: 8px;
    margin-bottom: 20px;
}

.main2 .redian1{
    width: 340px;
    height: 140px;
    border: 1px solid #e5e5e5;
    float: left;
    padding-right: 50px;
}
.main2 .redian2{
    width: 340px;
    height: 140px;
    border: 1px solid #e5e5e5;
    float: left;
    margin-left: 32px;
    padding-right: 50px;
}
.main2 .redian3{
    width: 340px;
    height: 140px;
    border: 1px solid #e5e5e5;
    float: left;
    margin-left: 32px;
    padding-right: 50px;
}
.main2 .icom1{
    margin-right: 25px;
    float: left;
    margin-left: 25px;
    margin-top: 20px;
    width: 100px;
    height: 100px;
    background: url(../images/CSS\ .png) no-repeat;
}
.main2 .icom2{
    margin-right: 25px;
    float: left;
    margin-left: 25px;
    margin-top: 20px;
    width: 100px;
    height: 100px;
    background: url(../images/CSS\ .png) no-repeat 0px -100px;
}
.main2 .icom3{
    margin-right: 25px;
    float: left;
    margin-left: 25px;
    margin-top: 20px;
    width: 100px;
    height: 100px;
    background: url(../images/CSS\ .png) no-repeat 0px -200px;
}
.main2 h4{
    font-size: 18px;
    margin-top: 32px;
    font-weight: 900;
    line-height: 18px;
}
.main2 p{
    font-size: 12px;
    color: #999999;
    margin-top: 15px;
}




















.main3{
    width: 100%;
    height: 774px;

}
.main3 .biaoti{
    background: url(../images/shu.png) no-repeat;
    font-size: 18px;
    color: #23ac38;
    line-height: 18px;
    text-indent: 8px;
}
.main3 .footh1{
    width: 607px;
    height: 38px;

}
.main3 .footh2{
    width: 607px;
    height: 38px;

}
.main3 .footleft{
width: 605px;
height: 734px;
border: 1px solid #e5e5e5;
}
.main3 .footright{
    width: 605px;
    height: 734px;
    border: 1px solid #e5e5e5;
    }
.main3 .ruanjian{
    width: 605px;
    height: 564px;
}
.main3 .ruanjian li{
    float: left;
    width: 302px;
    height: 140px;
    border-bottom: 1px solid #e5e5e5;
    position: relative;
}
.main3 .ruanjian li:nth-child(2n+1){
    border-right: 1px solid #e5e5e5;
}
.main3 .icol{
    width: 60px;
    height: 60px;
    margin-top: 41px;
    margin-left: 31px;
}
.main3 .icol1{
background: url(../images/360big.png) no-repeat 0px 0px;
}

.main3 .icol2{
background: url(../images/360big.png) no-repeat 0px -60px;
}

.main3 .icol3{
    background: url(../images/360big.png) no-repeat 0px -120px;
    }

.main3 .icol4{
background: url(../images/360big.png) no-repeat 0px -180px;
}

.main3 .icol5{
background: url(../images/360big.png) no-repeat -60px 0px;
}

.main3 .icol6{
background: url(../images/360big.png) no-repeat -60px -60px;
}

.main3 .icol7{
background: url(../images/360big.png) no-repeat -60px -180px;
}
.main3 .icol8{
background: url(../images/360big.png) no-repeat -60px -120px;
}
.main3 h3{
    position: absolute;
    top:43px;
    left: 111px;
}
.main3 .xiazai{
    width: 68px;
    height: 28px;
    border: 1px solid #e5e5e5;
    text-align: center;
    line-height: 28px;
    font-size: 13px;
    color: #333333;
    position: absolute;
    top: 70px;
    left: 110px;
    border-radius: 8px;
    cursor:pointer;
}
.main3 .luntan{
    width: 68px;
    height: 28px;
    border: 1px solid #e5e5e5;
    text-align: center;
    line-height: 28px;
    font-size: 13px;
    color: #333333;
    position: absolute;
    top: 70px;
    left: 190px;
    border-radius: 8px;
    cursor:pointer;
}







.main3 .footdd{
    width: 605px; 
    height: 110px;
    padding: 30px 0;
}
.main3 .lie{
    width: 605px;
    height: 27px;
    margin-bottom: 15px;
}
.main3 .lie .icoi{
    width: 29px;
    height: 27px;
    margin-left: 32px;
    margin-right: 10px;
    float: left;
}
.main3 .lie .icoi1{
    background: url(../images/footdd.png) no-repeat 0px 3px;
}
.main3 .lie .icoi2{
    background: url(../images/footdd.png) no-repeat 0px -42px;
}
.main3 .lie .icoi3{
    background: url(../images/footdd.png) no-repeat 0px -86px;
}
.diannaoruanjian{
    color: #70c2f8;
    text-align: center;
    line-height: 27px;
    font-size: 12px;
    float: left;
    margin-right: 30px;
}
.main3 .lie .h6{
    float: left;
    text-align: center;
    line-height: 27px;
    font-size: 13px;
    color: #333333;
}
.main3 .lie h5{
    color: #e1dbe1;
    line-height: 27px;
    font-size: 13px;
    margin-left: 15px;
    margin-right: 15px;
    float: left;
}
.shoujiruanjian{
    color: #eab6fd;
    text-align: center;
    line-height: 27px;
    font-size: 12px;
    float: left;
    margin-right: 30px;
}
.kaifangpingtai{
    color: #ffca6a;
    text-align: center;
    line-height: 27px;
    font-size: 12px;
    float: left;
    margin-right: 30px;
}


/* =============================footleft结束================================================ */

.footright .banner{
    width: 606px;
    height: 281px;
    background: url(../images/mall_top.png);
border-bottom: 1px solid #e5e5e5;
}


.main3 .ruanjian li{
    float: left;
    width: 302px;
    height: 140px;
    border-bottom: 1px solid #e5e5e5;
    position: relative;
}
.main3 .ruanjian li:nth-child(2n+1){
    border-right: 1px solid #e5e5e5;
}

.main3 .footright .ruanjian{
    width: 606px;
    height: 281px;
}
.main3 .footright .ruanjian h5{
    font-size: 14px;
    line-height: 14px;
    color: #333333;
    position: absolute;
    top: 49px;
    left: 41px;
}
.main3 .footright .ruanjian h6{
    font-size: 14px;
    line-height: 14px;
    color: #fc6721;
    position: absolute;
    top: 76px;
    left: 41px;
}
.main3 .footright .shangpin{
    width: 80px;
    height: 80px;
    position: absolute;
    top: 24px;
    left: 184px;
}
.main3 .lie .icoi4{
    background: url(../images/footdd.png) no-repeat 0px -129px;
}
.main3 .lie .icoi5{
    background: url(../images/footdd.png) no-repeat 0px -176px;
}
.main3 .lie .icoi6{
    background: url(../images/footdd.png) no-repeat 0px -219px;
}
.shouji{
    color: #23cbd2;
    text-align: center;
    line-height: 27px;
    font-size: 12px;
    float: left;
    margin-right: 30px;
}
.zhinengjiaju{
    color: #fe8149;
    text-align: center;
    line-height: 27px;
    font-size: 12px;
    float: left;
    margin-right: 30px;
}
.yuleyouxi{
    color: #1dc96e;
    text-align: center;
    line-height: 27px;
    font-size: 12px;
    float: left;
    margin-right: 30px;
}



.content{
    width: 1240px;
    height: 100%;
    margin: auto;
}